body {
	min-width: 250px;
}

h3, h4 {
	text-align: center;
}

.buttonwrapper {
  display: flex;
  justify-content: center;
  align-items: center;
	text-align: center;
  margin: 10px;
}

input {
	margin: 10px;
	cursor: pointer;
}

.hidden {
  display: none;
}

.pseudohidden {
  position: absolute;
  left: -10000px;
  top: -10000px;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  text-align: center;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: rgba(85, 85, 85, 0.75);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  /*left: 50%;*/
  margin-left: -100px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

.left {
  left: 100%;
}

.right {
  left: 0%;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  /*left: 50%;*/
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(85, 85, 85, 0.75) transparent transparent transparent;
}

.tooltip .left::after {
  left: 20%;
}

.tooltip .right::after {
  left: 80%;
}


/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}